[Unit]
Description=Scaleway Service Discovery Exporter
After=network.target

[Service]
ExecStart={{ scw_sd_bin_dir }}/scw-sd
Restart=always
User=nobody
Group=nogroup
EnvironmentFile=/etc/default/scw-sd
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
