[Unit]
Description=Scaleway Service Discovery Exporter
After=network.target

[Service]
ExecStart={{ scw_sd_bin_dir }}/scw-sd
Restart=always
User=nobody
Group=nogroup
Environment=ONLINE_API_TOKEN={{ scw_sd_token }}
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
